<!DOCTYPE html>
<html>
	<head>
		<script language="javascript" src="p5.js"></script>
		<script language="javascript" src="tincan.js"></script>
		<script language="javascript" src="swagmap.bundle.js"></script>
		<style> 
			body {
				padding: 0; 
				margin: 0;
				overflow: hidden;
			}
		</style>

		<script>
			var path=window.location.href.substring(0,window.location.href.lastIndexOf("/")+1);
			var endpointPath=path+"xapiproxy";
			console.log("loading from: "+endpointPath);

			var xApiParams={
//				endpoint: endpointPath,
/*				endpoint: "http://staging.tunapanda.org/learninglocker/public/data/xAPI/",
				username: "9088f1e9f7c149e72fc76553d5c3c12cfaa5c22c",
				password: "74b2a7150e840ff9f2b7c4fd2617edaa1f6ab770"*/

				endpoint: "http://localhost/repo/learninglocker/public/data/xAPI/",
				username: "b47fc60e6d92b4fa5497b7c38bcb2b98606fa5ae",
				password: "a6485b033734f630f9af5a9ac732ec10db5d92b7"
			};

			var app=new SwagMap();
			app.setXApiStore(xApiParams);
			app.setActorEmail("li.mikael@gmail.com");
			app.setMapUrl("testmap.json");
			app.run();
		</script>
	</head>
	<body>
	</body>	
</html>
