<!DOCTYPE html>
<html>
	<head>
		<script language="javascript" src="p5.js"></script>
		<script language="javascript" src="swagmap.bundle.js"></script>
		<style> 
			body {
				padding: 0; 
				margin: 0;
				overflow: hidden;
			}
		</style>

		<script>
			var view = new swagmap.SwagMapView();
			var model = new swagmap.SwagMapModel();
			var controller = new swagmap.SwagMapController(model, view);

			view.install();
			model.load("testmap.json");
		</script>
	</head>
	<body>
	</body>	
</html>
