<html>
	<head>
		<title>Swagmap demo/test</title>
	</head>
	<body>
		<h1>Swagmap demo/test</h1>
		This page is for testing/showcasing the Tunapanda swagmap application.
		<ul>
			<li>
				<a href="viewtest.html">viewtest.html</a><br/>
				Simple demo of what it looks like. As well as test.<br/><br/>
			</li>
			<li>
				<a href="controllertest.html">controllertest.html</a><br/>
				Test if the controller can tell the model to load itself, and populate the view. 
			</li>
		</ul>
	</body>
</html>