<!DOCTYPE html>
<html>
	<head>
		<script language="javascript" src="p5.js"></script>
		<script language="javascript" src="swagmap.bundle.js"></script>
		<style> 
			body {
				padding: 0; 
				margin: 0;
				overflow: hidden;
			}
		</style>

		<script>
			var view=new swagmap.SwagMapView();
			view.install();

			var item1=view.createSwagItem();
			item1.setX(50);
			item1.setY(100);
			item1.setLabel("Level1");

			var item2=view.createSwagItem();
			item2.setX(200);
			item2.setY(250);
			item2.setComplete(true);
			item2.setLabel("Level2");

			view.setShowLoading(true);
		</script>
	</head>
	<body>
	</body>	
</html>
