<!DOCTYPE html>
<html>
	<head>
		<script language="javascript" src="p5.js"></script>
		<script language="javascript" src="swagmap.bundle.js"></script>
		<style> 
			body {
				padding: 0; 
				margin: 0;
				overflow: hidden;
			}
		</style>

		<script>
			var view=new swagmap.SwagMapView();
			view.install();

			var item1=view.addSwagItem();
			item1.setX(50);
			item1.setY(100);

			var item2=view.addSwagItem();
			item2.setX(200);
			item2.setY(120);

			view.addConnection(item1, item2);
		</script>
	</head>
	<body>
	</body>	
</html>
