<!DOCTYPE html>
<html>
	<head>
		<script language="javascript" src="p5.js"></script>
		<script language="javascript" src="swagmap.bundle.js"></script>
		<style> 
			body {
				padding: 0; 
				margin: 0;
				overflow: hidden;
			}
		</style>

		<script>
			var view=new swagmap.SwagMapView();
			view.install();

			var item1=view.addSwagItem();
			item1.setX(50);
			item1.setY(100);
			item1.setLabel("Level1");

			var item2=view.addSwagItem();
			item2.setX(200);
			item2.setY(250);
			item2.setComplete(true);
			item2.setLabel("Level2");

			var item3=view.addSwagItem();
			item3.setX(400);
			item3.setY(150);
			item3.setLabel("Level3");

			// Level2 connects to Level3
			var c=item2.createConnection();
			c.setToX(400);
			c.setToY(150);
			view.addConnection(c);

			console.log();

			// Also make Level2 connect to Level1
			var c2=item2.createConnection();
			c2.setToX(50);
			c2.setToY(100);
			view.addConnection(c2);
		</script>
	</head>
	<body>
	</body>	
</html>
